.rbuttons a{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
}

.rbuttons a:hover {
    background-color: #0056b3;
}

.qbuttons a{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
}

.qbuttons a:hover {
    background-color: #0056b3;
}

.quote p {
    width: 600px;
}

.questions p {
    width: 600px;
}